/cmake-build-debug/
/borboleta/Makefile
/borboleta/CMakeCache.txt
/borboleta/cmake_install.cmake
/borboleta/CMakeFiles/
/borboleta/borboleta_manager
/borboleta/borboleta_worker
/openMP/cmake-build-debug/
/openMP/.idea/
/OpenMP
